__pycache__
*.dcp
*.log
*.joufinal_submission.zip
fpl26_contest_benchmarks_v1.0.0.tar.gz
OpenJDK17U-jdk_x64_linux_hotspot_17.0.10_7.tar.gz
fpl_env/
.venv/
dcp_optimizer_run-*/*
!dcp_optimizer_run-*/checkpoints/
dcp_optimizer_run-*/checkpoints/*
!dcp_optimizer_run-*/checkpoints/history.jsons

.Xil/

